@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&display=swap");
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #efefff;
}

::-webkit-scrollbar-thumb {
  background: #6428dc;
}

::-webkit-scrollbar:horizontal {
  height: 10px;
}

::-webkit-scrollbar-track:horizontal {
  background: #efefff;
}

::-webkit-scrollbar-thumb:horizontal {
  background: #6428dc;
}

::-webkit-scrollbar-corner {
  background: #efefff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: -0.5px;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  font-size: calc(8px + 0.4vw);
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  font-family: "Manrope", "Noto Sans KR", sans-serif;
}

button,
input {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

button:active,
input:active {
  background: none;
  border: none;
  outline: none;
}

ul,
li {
  list-style-type: none;
}

button {
  display: block;
  border: 1px solid #6428dc;
  padding: 0.75rem 1.25rem;
  font-size: 1.25rem;
  font-weight: 700;
  color: #6428dc;
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
  text-align: center;
}

button:hover {
  border-color: #14e15f;
  background: #14e15f;
  color: #fff;
  border-radius: 30px;
}

button:active {
  border: 1px solid #14e15f;
  opacity: 0.75;
}

button.sm {
  font-size: 0.95rem;
  padding: 0 1rem;
  height: 2rem;
}

button:disabled {
  -webkit-filter: grayscale(1) opacity(0.5);
          filter: grayscale(1) opacity(0.5);
}

input {
  position: relative;
  cursor: text;
}

input::-webkit-input-placeholder {
  color: #c1c1df;
}

input:-ms-input-placeholder {
  color: #c1c1df;
}

input::-ms-input-placeholder {
  color: #c1c1df;
}

input::placeholder {
  color: #c1c1df;
}

input.error {
  border-color: #fa106a !important;
}

input.error + label {
  color: #fa106a !important;
}

.login-section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../img/bubble-back.svg") 101% 105% no-repeat;
  background-size: 20rem;
}

.login-section .logo {
  width: 10rem;
  position: absolute;
  top: 3rem;
  left: 4rem;
}

.login-section .login-wrapper {
  width: 35vw;
  padding: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-section .login-wrapper .remember-me {
  margin-top: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-section .login-wrapper .remember-me span {
  margin-left: 0.5rem;
}

.login-section .login-wrapper .remember-me .checkbox {
  display: none;
}

.login-section .login-wrapper .remember-me .checkbox + label {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #000;
  cursor: pointer;
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
}

.login-section .login-wrapper .remember-me .checkbox:checked + label {
  border-color: #6428dc;
  background: #6428dc;
  position: relative;
}

.login-section .login-wrapper .remember-me .checkbox:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  width: 1.25rem;
  height: 0.6rem;
  left: 0.125rem;
  top: 0.05rem;
  border: 3px solid #fff;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.login-section .login-wrapper .praise {
  text-align: center;
  font-weight: 700;
  color: #6428dc;
  margin: 0 0 4rem;
  font-size: 1.3rem;
  position: relative;
}

.login-section .login-wrapper .praise:after {
  position: absolute;
  content: "";
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  background: url("../img/bubble.svg") center center no-repeat;
  background-size: contain;
  z-index: 99;
  right: -18px;
  top: -13px;
}

.login-section .login-wrapper .login-box {
  width: 100%;
}

.login-section .login-wrapper .input-div {
  margin-top: 4.5rem;
  position: relative;
  width: 100%;
}

.login-section .login-wrapper .input-div input {
  width: 100%;
  font-size: 2rem;
  display: block;
  border-bottom: 1px solid #9a9aba;
  padding-bottom: 0.5rem;
}

.login-section .login-wrapper .input-div input:focus {
  border-color: #6428dc;
}

.login-section .login-wrapper .input-div input:focus ~ label {
  color: #6428dc;
  font-weight: 700;
}

.login-section .login-wrapper .input-div label {
  font-size: 1.25rem;
  position: absolute;
  top: -2.25rem;
  color: #9a9aba;
}

.login-section .login-wrapper .login-btn {
  width: 15rem;
  margin: 2rem auto 1.5rem;
  display: block;
  border: 1px solid #6428dc;
  padding: 0.75rem 1.25rem;
  font-size: 1.25rem;
  font-weight: 700;
  color: #6428dc;
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
  text-align: center;
}

.login-section .login-wrapper .login-btn:hover {
  border-color: #14e15f;
  background: #14e15f;
  color: #fff;
  border-radius: 30px;
}

.login-section .login-wrapper .login-util {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-section .login-wrapper .question {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #9a9aba;
  text-decoration: underline;
}

.login-section .login-wrapper .question.sign-up {
  margin-top: 1rem;
  color: #14e15f;
  font-weight: 700;
}

.login-section .login-wrapper .question:hover, .login-section .login-wrapper .question:active {
  color: #6428dc;
}

.header {
  position: fixed;
  width: 100%;
  height: 3.5rem;
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 15px rgba(20, 30, 80, 0.15);
          box-shadow: 0 0 15px rgba(20, 30, 80, 0.15);
  z-index: 999;
}

.header h1 {
  width: 15rem;
  padding: 1.25rem 2rem;
}

.header img {
  display: inline-block;
  margin-top: 0.5rem;
  width: 100%;
}

.header .util-menu {
  position: absolute;
  right: 1rem;
  top: 0rem;
  font-size: 0.85rem;
}

.header .util-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .util-menu ul .util-btn {
  cursor: pointer;
  text-decoration: underline;
  color: #6428dc;
  margin: 0 1rem;
  line-height: 3.5rem;
}

.header .util-menu ul .util-btn:hover {
  color: #14e15f;
}

.menu-panel {
  width: 16rem;
  height: calc(100vh - 3.5rem);
  position: absolute;
  left: 0;
  top: 3.5rem;
  background: #6428dc;
  color: #fff;
  font-size: 0.9rem;
}

.menu-panel ul {
  padding-top: 0.75rem;
}

.menu-panel ul li {
  margin: 0.25rem auto;
  border-radius: 6px;
  width: 14rem;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-panel ul li a {
  white-space: nowrap;
  display: inline-block;
  width: 100%;
  padding: 0.75rem 1rem 0.75rem 0.25rem;
}

.menu-panel ul li.active {
  background: #fff;
  color: #6428dc;
}

.menu-panel ul li.active a {
  font-weight: 700;
}

.menu-panel ul li.active:hover {
  color: #6428dc;
}

.menu-panel ul li.active .dashboard {
  width: 3rem;
  background: url("../img/dashboard.svg") center center no-repeat;
  background-size: 2.5rem;
  margin-right: 0.5rem;
}

.menu-panel ul li.active .referral {
  width: 3rem;
  background: url("../img/referral.svg") center center no-repeat;
  background-size: 2.5rem;
  margin-right: 0.5rem;
}

.menu-panel ul li.active .sponsor {
  width: 3rem;
  background: url("../img/sponsor.svg") center center no-repeat;
  background-size: 2.5rem;
  margin-right: 0.5rem;
}

.menu-panel ul li.active .member {
  width: 3rem;
  background: url("../img/member.svg") center center no-repeat;
  background-size: 2.5rem;
  margin-right: 0.5rem;
}

.menu-panel ul li.active .affiliated {
  width: 3.5rem;
  background: url("../img/affiliated.svg") center center no-repeat;
  background-size: 2rem;
  margin-right: 0.5rem;
}

.menu-panel ul li.active .reward {
  width: 3rem;
  background: url("../img/reward.svg") center center no-repeat;
  background-size: 2.5rem;
  margin-right: 0.5rem;
}

.menu-panel ul li .dashboard {
  width: 3rem;
  background: url("../img/dashboard-f.svg") center center no-repeat;
  background-size: 2.5rem;
  margin-right: 0.5rem;
}

.menu-panel ul li .referral {
  width: 3rem;
  background: url("../img/referral-f.svg") center center no-repeat;
  background-size: 2.5rem;
  margin-right: 0.5rem;
}

.menu-panel ul li .sponsor {
  width: 3rem;
  background: url("../img/sponsor-f.svg") center center no-repeat;
  background-size: 2.5rem;
  margin-right: 0.5rem;
}

.menu-panel ul li .member {
  width: 3rem;
  background: url("../img/member-f.svg") center center no-repeat;
  background-size: 2.5rem;
  margin-right: 0.5rem;
}

.menu-panel ul li .affiliated {
  width: 3.5rem;
  background: url("../img/affiliated-f.svg") center center no-repeat;
  background-size: 2rem;
  margin-right: 0.5rem;
}

.menu-panel ul li .reward {
  width: 3rem;
  background: url("../img/reward-f.svg") center center no-repeat;
  background-size: 2.5rem;
  margin-right: 0.5rem;
}

.menu-panel ul li:hover {
  color: #14e15f;
}

.content-section {
  background: #efefff;
  position: absolute;
  width: calc(100% - 15rem);
  height: calc(100vh - 3.5rem);
  left: 16rem;
  top: 3.5rem;
  overflow-y: auto;
  padding-bottom: 3rem;
  background-image: url("../img/content-back.svg");
  background-size: 115%;
  background-position: right top;
  background-repeat: no-repeat;
}

.checkbox {
  display: none;
}

.checkbox + label {
  margin-left: 1rem;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border: 1px solid #000;
  cursor: pointer;
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
}

.checkbox:checked + label {
  border-color: #6428dc;
  background: #6428dc;
  position: relative;
}

.checkbox:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  width: 1.65rem;
  height: 0.75rem;
  left: 0.15rem;
  top: 0.1rem;
  border: 4px solid #fff;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.error {
  color: #fa106a;
  font-weight: 700;
}

.content-wrapper {
  position: absolute;
  top: 2rem;
  left: 2rem;
  width: calc(100% - 4.5rem);
  height: calc(100vh - 7.5rem);
  background: #fff;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 15px rgba(20, 40, 80, 0.15);
          box-shadow: 0 0 15px rgba(20, 40, 80, 0.15);
  padding: 2rem;
}

.content-wrapper .content-header {
  width: calc(100% - 4rem);
  position: absolute;
  top: 2rem;
  left: 2rem;
  background: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  border-bottom: 1px solid #000;
  padding-bottom: 1.5rem;
}

.content-wrapper .util-menu {
  margin-top: 4rem;
  width: 100%;
  border: 1px solid #c1c1df;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.content-wrapper .util-menu .search-select {
  margin: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-wrapper .util-menu .search-select label {
  font-weight: 700;
  margin-right: 1rem;
}

.content-wrapper .util-menu .search-select select {
  width: 8rem;
  height: 2rem;
}

.content-wrapper .util-menu .search-select .search-btn {
  height: 2rem;
  width: 2rem;
  padding: 0;
  margin-left: -1px;
  background: #6428dc;
  background-image: url("../img/search.svg");
  background-size: 80%;
  background-position: center center;
  background-repeat: no-repeat;
}

.content-wrapper .util-menu .search-select .search-btn:hover {
  border-radius: 0;
  background: #6428dc;
  border-color: #6428dc;
  opacity: 0.85;
  background-image: url("../img/search.svg");
  background-size: 80%;
  background-position: center center;
  background-repeat: no-repeat;
}

.content-wrapper .util-menu .search-result {
  margin-left: 1rem;
  border-right: 2px solid #000;
  padding-right: 1rem;
}

.content-wrapper .util-menu .divider {
  margin: 0 0.5rem;
  font-weight: 300;
}

.Treant {
  position: relative;
  overflow: hidden;
  padding: 0 !important;
}

.Treant > .node,
.Treant > .pseudo {
  position: absolute;
  display: block;
  visibility: hidden;
}

.Treant.Treant-loaded .node,
.Treant.Treant-loaded .pseudo {
  visibility: visible;
}

.Treant > .pseudo {
  width: 0;
  height: 0;
  border: none;
  padding: 0;
}

.Treant .collapse-switch {
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  border-radius: 5rem;
  position: absolute;
  bottom: 0.25rem;
  right: 0.25rem;
  cursor: pointer;
  background: url("../img/switch.svg");
}

.Treant .collapsed .collapse-switch {
  background-color: #868dee;
}

.Treant > .node img {
  border: none;
  float: left;
}

.node {
  padding: 0.25rem 0.5rem;
  background-color: #f5f5fc;
  border: 2px solid #6428dc;
  width: 8rem;
  height: 6.5rem;
  font-family: Tahoma;
  font-size: 0.8rem;
  text-align: center;
}

.node .node-name {
  font-weight: 700;
  font-size: 0.9rem;
  color: #6428dc;
  border-bottom: 1px solid #6428dc;
  padding-bottom: 0.2rem;
}

.node .node-title {
  margin-top: 0.3rem;
  font-size: 0.9rem;
}

.node .node-desc {
  position: absolute;
  left: 0.5rem;
  bottom: 1.25rem;
  font-weight: 500;
  color: #9a9aba;
}

.node .node-contact {
  position: absolute;
  bottom: 0.25rem;
  left: 0.5rem;
}

.nodeExample1 img {
  margin-right: 10px;
}

@media (max-width: 576px) {
  html {
    font-size: calc(10px + 0.45vw);
  }
  .login-section {
    background-size: 10rem;
  }
  .login-section .logo {
    width: 7rem;
    top: 2.5rem;
    left: 3rem;
  }
  .login-section .login-wrapper {
    width: 100%;
    padding: 3rem;
  }
}
/*# sourceMappingURL=index.css.map */